@using ItTalks.Web.ViewModels.Forum
@model EditPostModel

<div id="comments">
      
     <h2>Edit post</h2>
    <form  asp-controller="Forum" asp-action="EditPost" method="post">
        <div class="one_third first">
            <label asp-for="Name">Name <span>*</span></label>
            <input asp-for="Name" name="name" id="name"  size="22" required value="@Model.Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        
        <div class="block clear">
            <label asp-for="Message">Your post</label>
            <textarea asp-for="Message" id="comment" cols="25" rows="10">@Model.Message</textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>
        <input asp-for="PostId" class="hide" hidden="hidden" value="@Model.PostId">

        <div>
            <button type="submit" class="btn btn-info">Edit Post</button>
            &nbsp;
            <button type="reset" class="btn btn-info">Reset Post</button>
        </div>
    </form> 
</div>