<!DOCTYPE html>
<!--
Template Name:
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
    <title>ItTalks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- Top Background Image Wrapper -->
    <div class="bgded overlay light" style="background-image: url('https://res.cloudinary.com/people-matters/image/upload/q_auto,f_auto/v1544762075/1544762074.jpg');">
        <!-- ################################################################################################ -->
        <div class="wrapper row0">
            <div id="topbar" class="hoc clear">
                <!-- ################################################################################################ -->
                <ul class="nospace">
                    <li><a href="/"><i class="fa fa-lg fa-home"></i></a></li>


                    <li><a href="/Identity/Account/Login" title="Login"><i class="fa fa-lg fa-sign-in"></i></a></li>
                    <li><a href="/Identity/Account/Logout" title="Logout"><i class="fa fa-lg fa-sign-out"></i></a></li>
                    <li><a href="/Identity/Account/Register" title="Sign Up"><i class="fa fa-lg fa-edit"></i></a></li>
                </ul>
                <!-- ################################################################################################ -->
            </div>
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div class="wrapper row1">

        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div id="pageintro" class="hoc clear">
            <!-- ################################################################################################ -->
            <article>
                <!-- <p>Aenean sagittis tincidunt</p> -->
                <h3 class="heading">About Us</h3>
                <footer>
                    <ul class="nospace inline pushright">
                        <li><a class="btn inverse" href="/">Home</a></li>
                        <li><a class="btn" href="/Forum/Home">Forum</a></li>
                        <li><a class="btn inverse" href="/Gallery/Home">Gallery</a></li>
                    </ul>
                </footer>
            </article>
            <!-- ################################################################################################ -->
        </div>
        <!-- ################################################################################################ -->
    </div>
    <!-- End Top Background Image Wrapper -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <br />
                <h6 class="heading">What is the purpose of this web-site?</h6>
                <p></p>
            </div>
            <article class="group">
                <div class="one_half first">
                    <h6 class="heading">🎯 Purposes :</h6>
                    <p>The main purpose of this web-site is to give you some knowlege about the IT, help you solve your hardwere problems and ask any qouestions about It.</p>

                    <br />
                </div>
                <div class="one_half"><a class="imgover" href="#"><img src="images/demo/480x360.png" alt=""></a></div>
            </article>
            <!-- ################################################################################################ -->
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row2 bgded overlay" style="background-image:url('images/demo/backgrounds/02.png');">
        <section class="hoc container clear" style="margin-left:200px;">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <br />
                <h6 class="heading" style="margin-right: 250px">
                    You can contact with us 
                </h6>
                <p> </p>
            </div>
            <ul class="nospace group services">

                <li class="one_quarter">

                    <i class="fa fa-5x fa-mail-forward btmspace-30" style="margin-left: 50px"></i>

                    <h6 class="heading font-x1">E-mails</h6>
                    <ul class="nospace">


                        <li>
                            <i class="fa fa-link"></i> <a>It@talks.com</a>
                        </li>
                        <li>
                            <i class="fa fa-link"></i><a>ItTalks@Management.com </a>
                        </li>
                        <li>
                            <i class="fa fa-link"></i><a>ItTalks@Administration.com</a>
                        </li>
                    </ul>
                </li>
                <li class="one_quarter">
                    <i class="fa fa-5x fa-phone btmspace-30" style="margin-left: 50px"> </i>
                    <h6 class="heading font-x1">Our phones</h6>
                    <ul class="nospace">
                        <li><i class="fa fa-phone-square" style="font-size:20px"></i> <a>+359 882 333 183</a></li>
                        <li><i class="fa fa-phone-square" style="font-size:20px" ></i> <a>02906306</a></li>
               
                    </ul>
                </li>
                <li class="one_quarter">
                    <i class="fa fa-5x fa-user btmspace-30" style="margin-left: 50px"></i>
                    <h6 class="heading font-x1">or You also can contact with some of our moderators</h6>
                    <ul class="nospace">

                        <li><i class="fa fa-user"></i> <a>George Witson : george.witson@gmail.com</a></li>
                        <li><i class="fa fa-user"></i> <a>Grace Shelby : shelby.grace98@gmail.com</a></li>
                        <li><i class="fa fa-user"></i> <a>Maron Dikson : dikson12.maron@gmail.com</a></li>

                    </ul>
                </li>
            </ul>
            <!-- <footer class="center"><a class="btn" href="#">Nulla facilisi cum &raquo;</a></footer> -->
            <!-- ################################################################################################ -->
        </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
        <figure class="hoc container clear clients">
            <!-- ################################################################################################ -->
            <ul class="nospace group">
                <li class="one_quarter first"><a class="imgover" href="#"><img src="images/demo/222x100.png" alt=""></a></li>
                <li class="one_quarter"><a class="imgover" href="#"><img src="images/demo/222x100.png" alt=""></a></li>
                <li class="one_quarter"><a class="imgover" href="#"><img src="images/demo/222x100.png" alt=""></a></li>
                <li class="one_quarter"><a class="imgover" href="#"><img src="images/demo/222x100.png" alt=""></a></li>
            </ul>
            <!-- ################################################################################################ -->
        </figure>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <br />
    <br />
    <div class="wrapper row2 bgded overlay" style="background-image:url('images/demo/backgrounds/03.png');">
        <section class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <br />
                <h6 class="heading">Part of the head directors</h6>
                <p></p>
            </div>
            <div class="group team">
                <figure class="one_quarter first">
                    <a class="imgover" href="#"><img src="images/demo/320x320.png" alt=""></a>
                    <figcaption>
                        <h6 class="heading">I. Metodiev</h6>
                        <em>Director</em>
                        <footer>
                            <ul class="faico clear">
                                <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
                            </ul>
                        </footer>
                    </figcaption>
                </figure>
                <figure class="one_quarter">
                    <a class="imgover" href="#"><img src="images/demo/320x320.png" alt=""></a>
                    <figcaption>
                        <h6 class="heading">N. Georgiev</h6>
                        <em>Chairman</em>
                        <footer>
                            <ul class="faico clear">
                                <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
                            </ul>
                        </footer>
                    </figcaption>
                </figure>
                <figure class="one_quarter">
                    <a class="imgover" href="#"><img src="images/demo/320x320.png" alt=""></a>
                    <figcaption>
                        <h6 class="heading">G. Ivanow</h6>
                        <em>Head of Design</em>
                        <footer>
                            <ul class="faico clear">
                                <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
                            </ul>
                        </footer>
                    </figcaption>
                </figure>
                <figure class="one_quarter">
                    <a class="imgover" href="#"><img src="images/demo/320x320.png" alt=""></a>
                    <figcaption>
                        <h6 class="heading">V. Vasilev</h6>
                        <em>Head of Marketing</em>
                        <footer>
                            <ul class="faico clear">
                                <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
                            </ul>
                        </footer>
                    </figcaption>
                </figure>
            </div>
            <!-- <footer class="center"><a class="btn" href="#">Learn more &raquo;</a></footer>-->
            <br />
            <!-- ################################################################################################ -->
        </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper">
        <section class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <br />
                <br />
                <h6 class="heading">Information for our main admins in ItTalks</h6>
                <p> </p>
            </div>
            <div class="group latest">
                <article class="one_third first">
                    <a class="imgover btmspace-30" href="#"><img src="images/demo/320x240.png" alt=""></a>
                    <ul class="nospace meta">
                        <li><i class="fa fa-user"></i> <a>Admin</a></li>
                        <li><i class="fa fa-tag"></i> <a >Jaxxy</a></li>
                    </ul>
                    <h6 class="heading font-x1">Nikolai Georgiev</h6>
                    <p>Big follower of the IT spharie and love to talk about it.
                    He studied in TY Sofia and have magister degree for informatics and sofware science </p>
                    <!-- <footer><a href="#">Read More</a></footer> -->
                </article>
                <article class="one_third">
                    <a class="imgover btmspace-30" href="#"><img src="images/demo/320x240.png" alt=""></a>
                    <ul class="nospace meta">
                        <li><i class="fa fa-user"></i> <a>Admin</a></li>
                        <li><i class="fa fa-tag"></i> <a>Kallavan</a></li>
                    </ul>
                    <h6 class="heading font-x1">Georgi Ivanow</h6>
                    <p>Love to build new super configorations and help to others with theirs.
                    Geori is our configoration builder. He non-stop follows all updates in this sphere and If you want him to help you be welcome to contact with Georgi.</p>
                    <!-- <footer><a href="#">Read More</a></footer> -->
                </article>
                <article class="one_third">
                    <a class="imgover btmspace-30" href="#"><img src="images/demo/320x240.png" alt=""></a>
                    <ul class="nospace meta">
                        <li><i class="fa fa-user"></i> <a>Admin</a></li>
                        <li><i class="fa fa-tag"></i> <a>Savage95</a></li>
                    </ul>
                    <h6 class="heading font-x1">Ivan Plamenow</h6>
                    <p>
                        Best technician and his hobby is improving softwares.
                        Ivan is one of the best in improving sofwares sphere, He do the bes improvings in Bulgaria and maybe Europe also he studied in Frankfurt University of Applied Science, Germany.</p>
                    <!-- <footer><a href="#">Read More</a></footer> -->
                </article>
            </div>

            <!-- ################################################################################################ -->
        </section>

    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- <div class="wrapper row2 bgded overlay" style="background-image:url('images/demo/backgrounds/04.png');">
         <section class="hoc cta clear">
             <!-- ################################################################################################
             <div class="sectiontitle">
                 <h6 class="heading">For any questions</h6>
                 <p></p>
             </div>
             <form method="post" action="#">
                 <fieldset>
                     <legend>Newsletter:</legend>
                     <input class="btmspace-15" type="text" value="" placeholder="Enter Your Email Here&hellip;">
                     <button type="submit" value="submit">Submit</button>
                 </fieldset>
             </form>
             <!-- ################################################################################################
         </section>
     </div> -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row4">

    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row5">

    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->

    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="layout/scripts/jquery.min.js"></script>
    <script src="layout/scripts/jquery.backtotop.js"></script>
    <script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>