@using ItTalks.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/framework.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/layout.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header id="header" class="hoc clear">
        <!-- ################################################################################################ -->
        <div id="logo" class="fl_left">
            <h1><a href="index.html">ItTalks</a></h1>
        </div>
        <nav id="mainav" class="fl_right">
            <ul class="clear">
                <li class="active"><a href="index.html">Home</a></li>
                <li>
                    <a class="drop" href="#">Pages</a>
                    <ul>
                        <li><a href="pages/gallery.html">Gallery</a></li>
                        <li><a href="pages/full-width.html">Full Width</a></li>
                        <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
                        <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
                        <li><a href="pages/basic-grid.html">Basic Grid</a></li>
                    </ul>
                </li>
                <li>
                    <a class="drop" href="#">Dropdown</a>
                    <ul>
                        <li><a href="#">Level 2</a></li>
                        <li>
                            <a class="drop" href="#">Level 2 + Drop</a>
                            <ul>
                                <li><a href="#">Level 3</a></li>
                                <li><a href="#">Level 3</a></li>
                                <li><a href="#">Level 3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Level 2</a></li>
                    </ul>
                </li>
                <li><a href="#">Link Text</a></li>
                <li><a href="#">Link Text</a></li>
            </ul>
        </nav>
        <!-- ################################################################################################ -->
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer style="margin-left:600px;" id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
      <!--  <article class="one_quarter first">
            <h6 class="heading">Dui elit donec rutrum</h6>
            <p>Maximus proin blandit id est ac viverra maecenas sed neque tellus nunc at nulla et sem consectetur iaculis sed sollicitudin praesent.</p>
            <p>Dictum efficitur massa at suscipit nullam nec eros suscipit malesuada libero et&hellip;</p>
            <p class="nospace"><a href="#">Read More</a></p>
        </article>-->
        <div class="one_quarter">
            <h6 class="heading">Contact us</h6>
            <ul class="nospace btmspace-30 linklist contact">
                <li>
                    <i class="fa fa-map-marker"></i>
                    <address>
                        Georgi Sv. Rakovski &amp; 33, Sofia, 1404
                    </address>
                </li>
                <li><i class="fa fa-phone"></i> +359 882 333 183</li>
                <li><i class="fa fa-envelope-o"></i> ItTalks@gmail.com</li>
            </ul>
            <!-- <ul class="faico clear">
             <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
             <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
             <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
             <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
         </ul> -->
        </div>
        <div class="one_quarter">
            <h6 class="heading">Follow us in our social medias</h6>
            <ul class="nospace linklist">
                <ul class="faico clear">
                    <li>
                        <a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a>
                        Facebook
                    </li>
                    <li>
                        <a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a>
                        Twitter
                    </li>
                    <li>
                        <a class="faicon-instagram" href="#"><i class="fa fa-instagram"></i></a>
                        Instagram
                    </li>
                    <li>
                        <a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                        Linkedin
                    </li>
                </ul>




            </ul>
        </div>

        <div id="copyright" class="hoc clear">
            <!-- ################################################################################################ -->
            <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved  to- <a href="#">ItTalks</a></p>
            <!-- ################################################################################################ -->
        </div>


    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.backtotop.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.mobilemenu.js" asp-append-version="true"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
