@using ItTalks.Common
@using ItTalks.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/framework.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/layout.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header id="header" class="hoc clear">
        <!-- ################################################################################################ -->
        <div id="logo" class="fl_left">
            <h1> <img src="~/images/logo.png" />
            <a style="text-decoration : none; margin-left : 25px" href="/">ItTalks</a></h1>
        </div>
        <br />
        <nav id="mainav" class="fl_right">

            <ul class="nospace">
                <li class="active"><a href="/">Home</a></li>
                <li>
                    <a class="drop" href="#">Pages</a>
                    <ul>
                        <li><a href="/Gallery/Home">Gallery</a></li>
                        <li><a href="/Forum/Home">Forum</a></li>
                    </ul>
                </li>
                <!-- <li>
        <a class="drop" href="#">Dropdown</a>
        <ul>
            <li><a href="#">Level 2</a></li>
            <li>
                <a class="drop" href="#">Level 2 + Drop</a>
                <ul>
                    <li><a href="#">Level 3</a></li>
                    <li><a href="#">Level 3</a></li>
                    <li><a href="#">Level 3</a></li>
                </ul>
            </li>
            <li><a href="#">Level 2</a></li>
        </ul>
    </li> -->
                <li><a href="/Identity/Account/Manage">Profile</a></li>
                <li><a href="/Home/Aboutus">About us</a></li>
                @if (this.SignInManager.IsSignedIn(this.User))
                {
                        <li >
                            <form style="display: block" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                                <button class="btn btn-info" type="submit"><span id="logoutBtn" class="">LOGOUT</span></button>
                            </form>
                        </li>
                }
                else
                {
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                } 
            </ul>
            

        </nav>
        <!-- ################################################################################################ -->
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer style="margin-left:600px;" id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <!--  <article class="one_quarter first">
              <h6 class="heading">Dui elit donec rutrum</h6>
              <p>Maximus proin blandit id est ac viverra maecenas sed neque tellus nunc at nulla et sem consectetur iaculis sed sollicitudin praesent.</p>
              <p>Dictum efficitur massa at suscipit nullam nec eros suscipit malesuada libero et&hellip;</p>
              <p class="nospace"><a href="#">Read More</a></p>
          </article>-->
        <div class="one_quarter">
            <h6 class="heading">Contact us</h6>
            <ul class="nospace btmspace-30 linklist contact">
                <li>
                    <i class="fa fa-map-marker"></i>
                    <address>
                        Georgi Sv. Rakovski &amp; 33, Sofia, 1404
                    </address>
                </li>
                <li><i class="fa fa-phone"></i> +359 882 333 183</li>
                <li><i class="fa fa-envelope-o"></i> ItTalks@gmail.com</li>
            </ul>
            <!-- <ul class="faico clear">
                <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul> -->
        </div>
        <div class="one_quarter">
            <h6 class="heading">Follow us in our social medias</h6>
            <ul class="nospace linklist">
                <ul class="faico clear">

                    <li>
                        <a class="faicon-facebook" style="margin-right : 8px" href="https://www.facebook.com/GamingTechBG"><i class="fa fa-facebook"></i></a>Facebook     

                    </li>
                    <li>
                        <a class="faicon-twitter" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                        Twitter
                    </li>
                    <li>
                        <a class="faicon-instagram" href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                        Instagram
                    </li>
                    <li>
                        <a class="faicon-linkedin" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                        Linkedin
                    </li>
                </ul>




            </ul>
        </div>

        <div id="copyright" class="hoc clear">
            <!-- ################################################################################################ -->
            <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved  to- <a href="#">ItTalks</a></p>
            <p class="fl_right" style="margin-right:250px">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
            <!-- ################################################################################################ -->
        </div>


    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.backtotop.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.mobilemenu.js" asp-append-version="true"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
